<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action='/searches' method='POST'>
        <input type='text' name='search' placeholder='search by title or author' required> 
      <label for='aName'>Search by Author</label>
        <input type='radio' id='author' name='search' value='author' required>
      <label for='tName'>Search by Title</label>
        <input type='radio' id='title' name='search' value='title' required>
    <button type='submit'>submit</button>    
  </form>
</body>
</html>