<% books.forEach(book => { %>
  <article>
    <br>
    <img src=<%= book.image_url %> <br>
    <p><%= book.title %></p> <br>
    <p><%= book.author %></p> <br>
    <a href='/pages/details'> View Details</a>
    <br>
  </article>
<% }) %>
