<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' type='text/css' href='/styles/base.css'>
  <title>Server parsed HTML Form</title>
</head>
<body>
  <header>
    <h1>Book App</h1>
  </header>
  <nav>
    <ul>
      <li><a href='/'>Home</a></li>
      <li><a href='searches/new'>Search the Google API</a></li>
      <li><a href=''>Link</a></li>
    </ul>
  </nav>
  
  <h3>you have 
    <%= count %>
    books in your library
  </h3>
  <article>
    <%- include('partials/bookDisplay', { books }) %>
  </article>

</body>
</html>