/* colors */
*{
  text-align: center;
  font-family: monospace;
}

h2{
  text-align: center;
  font-family: monospace;
  /* background-color: grey; */
  font-size: x-large;
  color: red;
}

h3{
  text-align: center;
  font-family: monospace;
  line-height: 50px;
  height: 40px;

}

/* form{
  color: black;
  background-color: grey;
  line-height: 20px;
} */

label{
  text-align: center;
  font-family: monospace;
}

button{
  line-height: 40px;
}
